header{
    padding: 3.61111vw 9.375vw 0vw;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > .logo-container{
    display: flex;
    align-items: center;
}
nav > .logo-container > img{
    width: 3.333vw;
    height: 100%;
}
nav > .logo-container > h1{
    color: #131318;
    font-size: 2.5vw;
    font-weight: 800;
    margin-left: 1vw;
}
nav > .logo-container > h1 >.orange{
    color: #FF5400;
}

nav > ul{
    display: flex;
    list-style: none;
    width: 35.13888vw;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 1.25vw;
    font-weight: 400;
}
nav .nav-home{
    color: #FF5400;
}

nav>img{
    display: none;
}