header{
    padding: 3.61111vw 9.375vw 0vw;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > .logo-container{
    display: flex;
    align-items: center;
}
nav > .logo-container > .logo{
    width: 3.333vw;
    height: 100%;
}
nav > .logo-container > h1{
    color: #131318;
    font-size: 2.5vw;
    font-weight: 800;
    margin-left: 1vw;
}
nav > .logo-container > h1 >.orange{
    color: #FF5400;
}

nav > ul{
    display: flex;
    list-style: none;
    width: 35.13888vw;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 1.25vw;
    font-weight: 400;
}
nav .nav-home{
    color: #FF5400;
}

nav > .menu-button{
    display: none;
}



.banner{
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../resources/Images/Group\ 13\ \(1\)\ \(1\).png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: 34.72222vw;
    margin-top: 3.33333vw;
    border-radius: 1.25vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner > .banner-title{
    color: #FFF;
    font-size: 4.44444vw;
    font-weight: 800;
}
.banner > .banner-text{
    color: #FFF;
    font-size: 1.111111vw;
    font-weight: 400;
    line-height: 1.8055555vw;
    width: 56%;
    margin: 1.5vw 0vw 3vw;
}
.banner > .banner-travel-search{
    width: 65.641%;
    height: 3.6111vw;
    background-color: rgba(255, 255, 255, 0.30);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 0.5vw;
}

.banner > .banner-travel-search > .travel-search{
    width: 22.65625%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 0.4vw;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1.11111111111vw;
    font-weight: 400;
    padding-left: 1rem;
}
.banner > .banner-travel-search > select{
    appearance: none;
    background-image: url('../resources/Images/icons/down-arrow-icon.png');
    background-repeat: no-repeat;
    background-position: 90% center;
}

.banner > .banner-travel-search > .button{
    background-color: #FF5400;
    color: #FFF;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0vw;
    gap: 8px;
}
.banner > .banner-travel-search > .button > img{
    width: 22px;
}









/* mobile device responsive code */

@media screen and (max-width: 600px){

    header{
        padding: 4.8vw 5.3333vw 10vw;
        min-height: 100svh;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 6vw;
    }
    nav > .logo-container > h1{
        font-size: 5.7448vw;
    }
    nav > .logo-container > .logo{
        width: 7.6597333vw;
    }
    nav > .menu-button{
        display: block;
        width: 6.4vw;
        height: 6.4vw;
        align-self: flex-end;
    }
    nav > ul{
        display: none;
    }

    .banner{
        flex-grow: 1;
        border-radius: 5vw;
        justify-content: flex-start;
        padding: 6.62525879% 0px;
    }
    .banner > .banner-title{
        font-size: 5.866666vw;
        margin-top: 7.5vw;
    }
    .banner > .banner-text{
        font-size: 3.73333333vw;
        line-height: 5.6vw;
        width: 90.7462686%;
        margin: 2.6666vw 0vw 7.5vw;
    }
    .banner > .banner-travel-search{
        flex-direction: column;
        flex-grow: 1;
        border-radius: 4vw;
        justify-content: space-around;
        align-items: center;
        width: fit-content;
    }
    .banner > .banner-travel-search > .travel-search{
        width: 68vw;
        height: 18%;
        border-radius: 2vw;
        font-size: 4.266666666vw;
    }
}